---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import { homepage } from "@content/homepage";
import Features from "@components/Features.astro";
import Boton from "@components/Boton.astro";
---

<Layout>
  <section class="grid py-10 place-items-center text-center">
    <img
      src="https://raw.githubusercontent.com/cypherplatxs/web/main/public/logo-cypherplatxs-unscreen.gif"
      alt=""
    />

    <h1 class="text-4xl mb-5 mt-5">Cypherplatxs</h1>
    <p class="">Layer 0 gardeners from Platohedro.org</p>
    
    
</section>
<section class="grid  place-items-center text-center">
  <Boton></Boton>
</section>

  {
    homepage.map((homepage) => (
      <Features
        title={homepage.title}
        icon={homepage.icon}
        content={homepage.content}
      />
    ))
  }
  <section
    class="py-20 sm:flex sm:items-center sm:justify-evenly text-center sm:text-left"
  >
    <!--  {
      (
        <ul class="grid sm:grid-cols-3 gap-16">
          {counter.map((counter) => (
            <Counter number={counter.number} label={counter.label} />
          ))}
        </ul>
      )
    }-->
  </section>
  <Footer />
</Layout>

